@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
  @apply w-full border border-gray-300 rounded-lg p-2 text-sm bg-white
  focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition;
}

